
body {
  font-family:monaco ;
  padding-top: 56px;
}
/* HERO------------- */
.hero {
  background: linear-gradient(0deg, rgba(249, 175, 36, 0.914) 0%, rgb(89, 145, 184) 100%);
  height: 1000px;
  margin-top: -104px;
}
.jumbotron {
  position: relative;
  padding-top: 100px;
}
.jumbotron a {
  color: black;
}
.jumbotron a:hover {
  color: orange;
  transition: 0.5s;
}
.nav-link:hover {
  color: rgb(215, 154, 41);
  transition: 0.5s;
}


.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: center;
  
}
.aspectRatioBox2 {
  padding-top: calc(2.1 /3 * 100%);
  background-size: cover;
  background-position: center;
}
/* SUB HERO ----------- */
.subHero {
  
  background: linear-gradient(0deg, rgb(135, 101, 62) 0%, rgb(250, 224, 193) 100%);
  position: absolute;
}

.portfolioContainer {
  height: 100vh;
}
.contact {
  margin-top: 200px;
}
.footer {
  margin-top: 200px;
}
.contactCard a {
  color: orange;
}
.contactCard a:hover {
  color: black;
  transition: 0.5s;
}
.aboutMe {
  height: 100vh;
}