.bg-img{
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  margin-top: -56px;
}

body {
  font-family:monaco ;
  height: 5000px;
  padding-top: 56px;
}
.jumbotron {
  position: relative;
}
.jumbotron a {
  color: black;
}
.jumbotron a:hover {
  color: orange;
  transition: 0.5s;
}
.nav-link:hover {
  color: rgb(215, 154, 41);
  transition: 0.5s;
}
.about {
  height: 1000px;
  background-color: rgb(247, 225, 197);
  position: absolute;
  margin-top: 224px;
}